@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap');
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}

header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 15px;
  box-sizing: border-box;
  background: #212121;
}
header .me {
  color: #14ffec;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
header .me h1 {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 5.5em;
  text-align: left;
}
header .me p {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 2em;
  text-align: right;
}

header .middle {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: scale(-50%, -50%);
}
header .middle .mouse {
  width: 90px;
  height: 150px;
  border: 4px solid #14ffec;
  border-radius: 60px;
}

header .middle .mouse::before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: 30px;
  background: #14ffec;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  opacity: 1;
  animation: mouse 2s infinite;
}
@keyframes mouse {
  from {
    opacity: 1;
    top: 30px;
  }
  to {
    opacity: 0;
    top: 100px;
  }
}

header .toggle {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  opacity: 0;
  z-index: 999;
}

header .hamburger {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  transition: all 0.3s ease;
}

header .hamburger .bar {
  position: relative;
  width: 100%;
  height: 3px;
  background: #f3f3f3;
  transition: all 0.2s linear;
}

header .hamburger .bar::before,
header .hamburger .bar::after {
  content: '';
  position: absolute;
  top: -10px;
  width: 100%;
  height: 3px;
  background: #f3f3f3;
  transition: all 0.2s linear;
}

header .hamburger .bar::after {
  top: 10px;
}

header .toggle:hover + .hamburger {
  transform: rotate(-25deg);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

header .toggle:checked + .hamburger {
  transform: rotate(45deg);
}

header .toggle:checked:hover + .hamburger {
  transform: rotate(135deg);
}

header .toggle:checked + .hamburger .bar::before,
header .toggle:checked + .hamburger .bar::after {
  top: 0;
  transform: rotate(90deg);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  background: #0d7377;
  z-index: 1;
  transition: all 0.3s ease;
  font-family: 'Rubik Mono One', sans-serif;
}
.menu ul {
  margin-top: 15%;
}
.menu ul li {
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  box-sizing: 15px;
  width: 50%;
}

.menu ul li a {
  font-size: 3em;
  text-decoration: none;
  color: #f3f3f3;
}

.menu ul li a:hover {
  color: #14ffec;
}

header .toggle:checked + .hamburger + .menu {
  opacity: 1;
  width: 100vw;
  height: 100vh;
}

main {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 15px;
  box-sizing: border-box;
  background: #0d7377;
}
main .about img {
  width: 50%;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  float: right;
}
main .about h3 {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 3em;
  margin-top: 5%;
  margin-bottom: 5%;
}
main .about .about-me {
  font-family: 'Righteous', cursive;
  font-size: 1.5em;
  color: #212121;
}

.Iknow {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 15px;
  box-sizing: border-box;
  background: #212121;
}

.Iknow .knowladge h3 {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 3em;
  margin-top: 5%;
  margin-bottom: 5%;
  color: #14ffec;
}
.Iknow .knowladge i {
  color: #14ffec;
  font-size: 5em;
}
.Iknow .knowladge .icon {
  margin-bottom: 3%;
}
.Iknow .knowladge .icon p {
  color: #14ffec;
  font-family: 'Righteous', cursive;
}

.education {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  padding: 15px;
  box-sizing: border-box;
  background: #0d7377;
}
.education h3 {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 3em;
  margin-top: 5%;
  margin-bottom: 5%;
  color: #212121;
  text-align: center;
}

.education-time {
  margin-top: 20%;
}
.education-time ul {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1px 100px;
  color: #fff;
  font-size: 13px;
}
.education-time ul:before {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  border-left: 2px dashed #fff;
}
.education-time ul li {
  position: relative;
  margin-left: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 14px;
  border-radius: 6px;
  width: 500px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
}
.education-time ul li:not(:first-child) {
  margin-top: 60px;
}
.education-time ul li > span {
  width: 2px;
  height: 100%;
  background: #fff;
  left: -30px;
  top: 0;
  position: absolute;
}
.education-time ul li > span:before,
.education-time ul li > span:after {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  background: #212121;
  left: -5px;
  top: 0;
}
.education-time ul li span:after {
  top: 100%;
}
.education-time ul li > div {
  margin-left: 10px;
}
.education-time div .title,
.education-time div .type {
  font-weight: 600;
  font-size: 16px;
}

.education-time div > div {
  margin-top: 5px;
}
.education-time span.number {
  height: 100%;
}
.education-time span.number span {
  position: absolute;
  font-size: 10px;
  left: -35px;
  font-weight: bold;
}
.education-time span.number span:first-child {
  top: 0;
}
.education-time span.number span:last-child {
  top: 100%;
}

.work {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  padding: 15px;
  box-sizing: border-box;
  background: #212121;
}

.work h3 {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 3em;
  margin-top: 5%;
  margin-bottom: 5%;
  color: #14ffec;
  text-align: center;
}
.work-time{
  margin-top: 25%;
}
.work-time ul {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1px 100px;
  color: #fff;
  font-size: 13px;
}
.work-time ul:before {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  border-left: 2px dashed #fff;
}
.work-time ul li {
  position: relative;
  margin-left: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 14px;
  border-radius: 6px;
  width: 500px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
}
.work-time ul li:not(:first-child) {
  margin-top: 60px;
}
.work-time ul li > span {
  width: 2px;
  height: 100%;
  background: #fff;
  left: -30px;
  top: 0;
  position: absolute;
}
.work-time ul li > span:before,
.work-time ul li > span:after {
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  background: #0d7377;
  left: -5px;
  top: 0;
}
.work-time ul li span:after {
  top: 100%;
}
.work-time ul li > div {
  margin-left: 10px;
}
.work-time div .title,
.work-time div .type {
  font-weight: 600;
  font-size: 16px;
}
.work-time div .info {
  font-weight: 300;
  font-size: 16px;
}
.work-time div > div {
  margin-top: 5px;
}
.work-time span.number {
  height: 100%;
}
.work-time span.number span {
  position: absolute;
  font-size: 10px;
  left: -35px;
  font-weight: bold;
}
.work-time span.number span:first-child {
  top: 0;
}
.work-time span.number span:last-child {
  top: 100%;
}

footer{
  height: 20vh;
  background-color: #0d7377;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  font-family: 'Righteous', cursive;

}

footer ul {
  display: inline-block;
  list-style: none;
}

footer ul li {
  display: inline-block;
  margin-left: 10px
}

footer ul li a {
  color: #212121;
  text-decoration: none;
  font-size: 1.5em;
}
footer ul li a:hover{
  color: #212121d5;
  text-decoration: none;
}

footer .correo a{
  color: #212121;
  font-size: 1.5em;
}
@media screen and (max-width: 600px) {
  header .me h1 {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 1.75em;
    text-align: center;
  }
  header .me p {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 1.25em;
    text-align: center;
  }
  header .middle {
    position: absolute;
    top: 60%;
    left: 45%;
    transform: scale(-50%, -50%);
  }
  header .middle .mouse {
    width: 80px;
    height: 120px;
    border: 4px solid #14ffec;
    border-radius: 60px;
  }

  .menu ul {
    margin-top: 50%;
    width: 100%;
  }
  .menu ul li {
    list-style-type: none;
    text-align: center;
    cursor: pointer;
    box-sizing: 15px;
    width: 100%;
  }

  .menu ul li a {
    font-size: 2em;
    text-decoration: none;
    color: #f3f3f3;
  }
  main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 15px;
    box-sizing: border-box;
    background: #0d7377;
  }
  main .about img {
    width: 100%;
    height: 250px;
    margin: 0 auto;
    margin-bottom: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
  }
  main .about h3 {
    font-size: 1.25em;
  }
  main .about .about-me {
    font-size: 1.25em;
  }

  .Iknow {
    height: 100%;
    display: flex;
    padding: 15px;
    box-sizing: border-box;
    background: #212121;
  }

  .Iknow .knowladge h3 {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 1.25em;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #14ffec;
  }
  .Iknow .knowladge i {
    color: #14ffec;
    font-size: 3em;
  }
  .Iknow .knowladge .icon {
    margin-bottom: 3%;
  }
  .Iknow .knowladge .icon p {
    color: #14ffec;
    font-family: 'Righteous', cursive;
  }
  .education{
    height: 80vh;
  }
  .education h3{
    font-size: 1.25em;
  }

  .education-time ul {
    transform: translate(-44%, -12%);
  }
  .education-time ul li {
    width: 250px;
  }
  .work{ 
    height: 120vh;
  }
  .work h3{
    font-size: 1.25em;
  }

  .work-time ul {
    transform: translate(-46%, -12%);
  }
  .work-time ul li {
    width: 250px;
  }

  footer{
    height: 40vh;
  }
  footer .container{
    margin-top: 10% !important;
  }
  footer ul li {
    margin-left: 1px !important;
  }
  footer ul li a {
    color: #212121;
    text-decoration: none;
    font-size: 1.2em;
  }
  footer .correo a{
    color: #212121;
    font-size: 2em;
  }
  
}
